@import '/src/styles/colors.scss';
footer {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0;
  border-bottom: 1px solid rgb(79, 79, 79);
  background-color: $bgColorLight;
}
